.landing-page-container {
  overflow: auto;
  position: relative;
  margin-top: -114px;

  &::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: radial-gradient(#00000066, #242424),
      url("../../assets/images/landing-page/hero2.jpg");
    width: 100%;
    height: -webkit-fill-available;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
  }

  .landing-page {
    margin-top: 140px;

    .title-container {
      text-align: center;
      .heading {
        margin: 0;
        font-size: 70px;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-shadow: 5px 6px 8px rgb(0 0 0), 2px 0px 0px rgba(255, 255, 255, 1);

        @media screen and (max-width: 959px) {
          font-size: 60px;
        }
        @media screen and (max-width: 639px) {
          font-size: 40px;
        }
      }

      .sub-heading {
        margin: 0;
        font-size: 32px;

        @media screen and (max-width: 959px) {
          font-size: 28px;
        }

        @media screen and (max-width: 639px) {
          font-size: 20px;
        }
      }
    }

    .cities-container {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      margin-top: 60px;

      @media screen and (max-width: 420px) {
        margin-top: 40px;
        gap: 15px;
      }

      .cityWrapper {
        width: 220px;
        height: 172px;
        position: relative;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 8px 4px 10px #ffffff29;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        color: inherit;

        &:hover {
          box-shadow: 0px 0px 0px #ffffff29;
          transform: scale(0.9);
          background: rgba(255, 255, 255, 0.7);
        }

        @media screen and (max-width: 420px) {
          width: 150px;
          height: 150px;
        }

        .image-container {
          overflow: hidden;
          width: 126px;
          height: 114px;
          transform: scale(1.3);

          @media screen and (max-width: 420px) {
            transform: scale(0.9);
          }

          img {
            position: relative;
          }
        }

        p {
          margin: 0;
          position: absolute;
          bottom: 0px;
          cursor: pointer;
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
  }
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.errorShake {
  animation: horizontal-shaking 0.2s ease-in-out;
}
