.search-container {
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 800px;

  @media screen and (max-width: 959px) {
    width: 600px;
  }

  @media screen and (max-width: 639px) {
    width: 100%;
  }

  @media screen and (max-width: 420px) {
    margin-top: 40px;
  }

  .filter-container {
    display: flex;
    width: 100%;

    input[type="search"] {
      height: 60px;
      width: 82%;
      padding: 20px;
      background: rgba(255, 255, 255, 0.7);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4.5px);
      -webkit-backdrop-filter: blur(4.5px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      caret-color: black;
      font-size: 16px;
      color: black;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      @media screen and (max-width: 959px) {
        height: 50px;
      }

      @media screen and (max-width: 639px) {
        height: 40px;
      }

      @media screen and (max-width: 420px) {
        width: 75%;
      }

      &::placeholder {
        color: rgba(0, 0, 0, 0.7);
        letter-spacing: 1px;
      }
    }

    button {
      all: unset;
      background: #fe6508;
      width: 18%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      @media screen and (max-width: 639px) {
        letter-spacing: 0px;
        font-size: 14px;
      }

      @media screen and (max-width: 420px) {
        width: 25%;
      }
    }
  }

  .filter-search-results {
    position: absolute;
    width: 82%;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 66px;
    overflow: hidden;
    z-index: 9;

    @media screen and (max-width: 959px) {
      margin-top: 60px;
    }

    @media screen and (max-width: 420px) {
      width: 75%;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      max-height: 30vh;
      overflow-y: scroll;

      &::-webkit-scrollbar-track {
        border-radius: 0px;
        background-color: #cccccc;
      }

      &::-webkit-scrollbar {
        width: 12px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #fe6508;
        background-image: -webkit-linear-gradient(
          90deg,
          transparent,
          rgba(0, 0, 0, 0.4) 50%,
          transparent,
          transparent
        );
      }

      li {
        padding: 6px 20px;
        color: #161616;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: lightgrey;
          color: black;
        }
      }
    }
  }
}
